

#footer {
    background-color:#f7f7f7;
    margin-top: 40px;
    padding: 80px 0px;
}
#mainDiv {
    width:85%;
    display:grid;
    margin:auto;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: auto;
    line-height: 1 rem;
    grid-template-areas:
        "D E F G"
        "H H H H";
}
#d {
    grid-area: D;
}

#e {
    grid-area: E;
}

#f {
    grid-area: F;
}

#g {
    grid-area: G;
}

#footer p{
    font-size: 13px;
}
#footer h5{
    font-size: 13px;
    color: black;
}
li>b{
    color: black;
}
#mainDiv>div>p:first-child{
    font-weight: bold;
}
#playstore{
    margin-bottom: 40px;
}
#playstore>img{
    width: 130px;
    padding-right: 10px;
}
#playstore+p{
    font-weight: bold;
}
#socialicon{
    display: flex;
    width: 40%;
    justify-content: space-between;
    color: #696b79;
}
#subDiv {
    width: 52%;
}
.subdiv{
    display: flex;
    justify-content: space-evenly;

}
.subdiv>img {
    padding: 15px;
    width: 50px;
    height: 50px;
}
#pline {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
}

#pline>div {
    width: 85%;
    margin-left: 1%;
    height: 0.05px;
    border-top: #e9e9ed solid 2px;
}
#pDiv {
    width: 80%;
    margin: auto;
    border-bottom:#e9e9ed solid 2px;
}

#pDiv>p {
    color: #696b79;
    font-size: 15px;
    line-height: 25px;
}

img+p>b {
    color: black;
    font-size: 15px;
}

p>b {
    color: #6b8fe0;
}

#pterm {
    display: flex;
    justify-content: space-between;
}

#address {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: #e9e9ed solid 2px;
}

#address>div {
    width: 30%;
    color: #696b79;
    font-size: 15px;
}
#address>div+div {
    margin-top: 90px;
}
#discrp1 {
    color: #696b79;
    font-size: 15px;
    width: 80%;
    margin: auto;
}