body{
    font-family:Helvetica,Arial,sans-serif;
}
#flatdiscount{
    position :fixed;
    right: 0px;
    bottom: 130px;
    width: 50px;
    height: 250px;
    box-sizing:border-box;
    padding-left: 10px;
    background-color: #535766;
    color: #fff;
    letter-spacing:1px;
}
#pullkey{
    font-size:40px;
    color: #fcfcfc;
}
#flatdiscount>h1{
    writing-mode: vertical-rl;
    -webkit-transform: rotate(-180deg);
    transform:rotate(-180deg);
    height: 200px;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    -webkit-margin-after: 0;
    color: #fcfcfc;
    display: inline-block;
}
body>h1{
    margin: 50px 25px;
}
#adDiv
{
   margin-top:50px;
}
#dealsDiv{
   
    width: 92%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: auto;
    gap: 2%;
}
#bigdealsDiv{
   
    width: 92%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(2,auto);
    gap: 2%;
}
#categoryDiv{
  
    width: 92%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows: repeat(1,auto);
    column-gap: 2%;
}
#brandDiv{
  
    width: 92%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(1,auto);
    column-gap: 2%;
}
#categoryDiv>div,#brandDiv>div{
    background-color:whitesmoke;
}
#luxeDiv{
   
    width: 92%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows: auto;
    gap: 2%;
}
#trendDiv{
   
    width: 92%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: auto;
    gap: 2%;
}
#indianwear{
   
    width: 92%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(2,auto);
    gap: 2%;
}
#sportwear{
   
    width: 92%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(2,auto);
    gap: 2%;
}
#footwear{
   
    width: 92%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(2,auto);
    gap: 2%;
}
#footwear{
   
    width: 92%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(2,auto);
    gap: 2%;
}
#accessories{
   
    width:92%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: repeat(2,auto);
    gap: 2%;
}
@media all and (min-width:350px) and (max-width:750)
{
    #dealsDiv{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: auto;
      
    }
    #bigdealsDiv{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(4,auto);
        
    }
    #categoryDiv{
        grid-template-columns: repeat(3,auto);
        grid-template-rows: repeat(2,auto);
      
    }
    #brandDiv{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: auto;
        
    }
    #luxeDiv{
       
        grid-template-columns: repeat(3,auto);
        grid-template-rows: auto;
    }
    #trendDiv{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: auto;
       
    }
    #indianwear{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
      
    }
    #sportwear{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
        
    }
    #footwear{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
        
    }
    #accessories{
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
      
    }
}