
#navbar{
    background-color: white;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: bold;
    color: black;
}

#mainlogo{
    width: 60px;
    height:60px;
    background-color: white;
    color: black;
}
#searchbar{
    display: flex;
    width: 40%;
    background-color: #f5f5f6;
    color: gray;
    text-align: center;
    box-sizing: border-box;
    border-radius:5px;
    justify-content: space-between;
}
#searchbar:hover{
    border: #e9e9ed solid 2px;
    background: white;
}
#sicon{
    padding: 10px;
}
#profile,#wishlist,#bag{
text-align: center;
color: gray;

}
#profile>p,#wishlist>p,#bag>p{
    margin-top: -0px;
    font-size: 12px;
    color: black;
}
#profile>a>i,#wishlist>a>i,#bag>a>i{
    color:gray;
}
img~a>div{
    color:black;
}
a:link{
    text-decoration: none;
}
a>div{
    color: black;
}

input {
    background-color: transparent;
    border: 0px solid;
    height: 40px;
    width: 90%;
    color: #CCC;
}
textarea:focus,input:focus
{
    outline: none;
}
i{
    font-size:20px;  
}
img{
    width: 100%;
}

