
   
#navbar{
    background-color: white;
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: bold;
}
#mainlogo{
    width: 60px;
    height:60px;
    background-color: white;
}
#searchbar{
    display: flex;
    width: 40%;
    background-color: #f5f5f6;
    color: gray;
    text-align: center;
    box-sizing: border-box;
    border-radius:5px;
    justify-content: space-between;
}
#searchbar:hover{
    border: 0.5px solid;
    background: white;
}
#sicon{
    padding: 12px;
}
#profile,#wishlist,#bag{
text-align: center;
color: gray;
}
#profile>p,#wishlist>p,#bag>p{
    margin-top: -0px;
    font-size: 12px;
    color: black;
}

    #parent{
        display: flex;
        
    }
    
    #products{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: auto;
        gap:25px;
        margin-top: 30px;
        padding:30px;
        text-align: center;
        
    }
    #photo{
        width:220px;
        height: 300px;
    }
    #filter{

        border:1px solid rgb(233, 225, 225);
        margin-top: 20px;
    }
    #filter>div{
        display: grid;
        width:200px;
        margin-left: 20px;
        
    }
    #filter>div>div{
        display: grid;
        border:1px solid rgb(233, 225, 225);
        
    }
    .filters{
        margin-top: 30px;
        margin-bottom: 30px;
    
    }
    .navbar{
        display: flex;
        gap:25px;
        margin-left: 8px;
        margin-top: 10px;
    
    }
    .priceDiv{
        display: flex;
        gap:10px;
        margin-top: -30px;
        margin-left: 80px;
        
    }
    #tag{
        font-size: 14px;
        color: #535657;
        margin-top: -15px;
    }
    #sortby{
        block-size: 35px;
        width:170px;
        
    }
