
a:link{
    text-decoration: none;
}
body>h1{
    padding: 15px;
}
#navbar{
    background-color: white;
    width: 100%;
    height: 70px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0px 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-weight: bold;  
}
#mainlogo{
    width: 60px;
    height:60px;
    background-color: white;
}
#midDiv{
    letter-spacing:3px;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;

}
#midDiv>h5:nth-child(3){
    color:#3cc3a0;
   border-bottom:#3cc3a0 2px solid;
}
#endDiv{
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: gray;
}
#endDiv>img{
   width: 30px;
}
p>b{
    letter-spacing:3px;
}
.line{
    border-top: 1px dashed;
    width: 50px;
}

/* end of nav bar */


#cart{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    padding:20px;
}
#mainDiv{
   width: 60%;
   padding: 10px 20px; 
}
#mainDiv>div:first-child{
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}
h3+div{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    height: 30px;
    border-radius: 5px;

}
#mainDiv>div:nth-child(3){
    padding: 20px;
   flex-direction: column;
    border:2px solid #e9e9ed;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
 #name{
     width:40%;
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 #home{
     width: 30%;
     text-align: center;
     border: #3cc3a0 1px solid;
     color: #3cc3a0;
     border-radius: 20px;
 }
#option{
    display: flex;
    width:30%;
    align-items: center;
    justify-content: space-between;
}
#option>div{
    font-weight: bold;
    border-radius: 5px;
    padding: 0px 10px;
    border: 1px solid;
}
#add{
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: #ff3e6c;
    font-weight: bold;
    padding-left: 10px;
    border: 2px dashed #e9e9ed;
    height: 80px;
}
#checkDiv{
    padding:0px 20px;
    width: 30%;
    border-left: 1PX solid #e9e9ed;
}
#offerinfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    width: 98%;
    height: 40px;
    background-color: #fff1ec;
    border: 1px solid;
    margin-bottom: 20px;
}
#itemDiv{
    border: #e9e9ed 2px solid;
    height:150px;
    padding: 10px;
}
#total{
    color: gray;
    font-size: 15px;
    font-weight: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #e9e9ed;
}
#total>div:nth-child(2){
    text-align: right;
    padding-top: 40px;
}
p>b{
    margin-left: 5px;
    letter-spacing: 1px;
    color: #ff3e6c;
}
#free{
    color: #3cc3a0;
    width: 80px;
    height: 15px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    justify-content: space-between;
}
#free>p:first-child{
    text-decoration: line-through;
    color: gray;
}
#totalamount{
    margin-top: 10px;
    display: flex;
    font-weight: bold;
    font-size: 18px;
    justify-content: space-between;
}
#place{
    width: 100%;
    height: 40px;
    margin-top:30px;
    background-color:#ff3e6c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 15px;
    font-weight: bolder;
}

