#info>div{
    display: flex;
}
.imgdiv{
    width: 60%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(auto);
    gap:10px
}
.imgdiv>img{
    width: 100%;
}
.textdiv{
    box-sizing: border-box;
    width: 40%;
    margin-left:20px;
    
    
}
#div1{
    display: flex;
    width: 40%;
    margin-top: -15px;
    align-items: center;
    justify-content: space-between;
}
#addbtn{
    margin-right: 20px;
    font-weight: bolder;
    font-size: 15px;
    color: white;
    background-color: #ff3e6c;
    border: none;
    width: 40%;
    height: 50px;
}
#wishbtn{
    margin-right: 20px;
    font-weight: bolder;
    font-size: 15px;
    color: black;
    background-color:white;
    border: 3px solid #e9e9ed;
    width: 40%;
    height: 50px;
}

#clr{
 
    color: gray;
}
#best{
    padding-bottom:15px;
    border-bottom: 1px solid #535665;
}

.description{
    font: 20px whitney,apple-system;
    color: #535665;
    padding-bottom:15px ;
    border-bottom: 1px solid #535665 ;
}

.brand{
    font: 24px whitney,apple-system;
    color:#282c3f;
}
.line4{
    color: #03A685;
    font: 14px whitney,apple-system;
}
.size{
    font:16px whitney,apple-system
}
.line6{
    font: 16px whitney,apple-system;
}
.input1{
    padding: 10px;
    margin: 12px 0px;
    border: 1px solid black;
    width: 180px;
    height: auto;
}
.line7{
    font: 16px whitney,apple-system;
    margin: 8px 0px 0px;
}
.line8{
    width: 170px;

}
.line9{
    padding-top:10px;
    font: 20px whitney,apple-system;
}
.line10{
    padding-top:10px;
    font: 20px whitney,apple-system;
}
/* p{
    color: #282c3f;
} */









