#div
{
    height:370px;
    width:90%;
   margin-top: 30px;
    margin-left: 50px;
   
}

 #div2{   
 font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
 height:390px;
 width: 80%;
 display: flex; 
 gap: 30px;
 margin-left: 50px;
} 

#div12
{
 font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
 height:400px;
 width: 80%;
 display: flex; 
 margin-left: 50px;
 gap: 30px;


}
#div3{
 height:220px;
 width: 100%;

 background-color: rgb(239,237,237);
}
#div4
{
 display: flex; 
 height:480px;
 width: 100%;

 gap: 20px;
} 
#div5
{
 
   height:220px;
   width: 100%;
}

#div6
{
 display: flex; 

   height:140px;
   width: 90%;
 
   margin: auto;
}
#div6
{
 display: flex; 

   height:180px;
   width: 100%;
 
   margin: auto;
}
 #div7
 {
     display: flex; 

   height:180px;
   width: 80%;
 
   margin: auto;
   -webkit-text-size-adjust: 100%;
font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
-webkit-font-smoothing: antialiased;
box-sizing: inherit;


display: inline-block;
vertical-align: top;
padding-right: 20px;
  
}